data
.idea
__pycache__
*.pyc
.venv
/trainlogs/
/viz/
/backup/
*events.out.tfevents*
/output/code/LFR
/output/code/weights
/output/code/Result folder
/output/code/test data folder
/output/code/test
/output/code/train