data
.idea
__pycache__
*.pyc
.venv
visualization_frame5.png
visualization_frame105.png
visualization_frame205.png
visualization_frame305.png
visualization_frame405.png
visualization_frame505.png
visualization_frame605.png
visualization_frame705.png
visualization_frame805.png
visualization_frame905.png
visualization_frame1005.png
visualization_frame1105.png
visualization_frame1205.png
visualization_frame1305.png
visualization_frame1405.png
visualization_frame1505.png
visualization_frame1605.png
visualization_frame1705.png
trainlogs/deeplab_training_30_epochs/events.out.tfevents.1704470829.DESKTOP-ELG2GVD.20144.0
trainlogs/deeplab_training_50_epochs/events.out.tfevents.1704455839.DESKTOP-ELG2GVD.17256.0
trainlogs/deeplab_training_50_epochs/events.out.tfevents.1704456077.DESKTOP-ELG2GVD.19820.0
trainlogs/deeplab_training_50_epochs/events.out.tfevents.1704466157.DESKTOP-ELG2GVD.15932.0
trainlogs/deeplab_training_50_epochs/events.out.tfevents.1704466980.DESKTOP-ELG2GVD.19508.0
trainlogs/deeplab_training_50_epochs/events.out.tfevents.1704467585.DESKTOP-ELG2GVD.23436.0
trainlogs/deeplab_training_50_epochs/events.out.tfevents.1704467938.DESKTOP-ELG2GVD.9360.0
trainlogs/deeplab_training_50_epochs/events.out.tfevents.1704469285.DESKTOP-ELG2GVD.19932.0
trainlogs/deeplab_training_50_epochs/events.out.tfevents.1704469425.DESKTOP-ELG2GVD.648.0
trainlogs/deeplab_training_50_epochs/events.out.tfevents.1704469583.DESKTOP-ELG2GVD.21836.0
/checkpoints/
/viz/
